<!-- HEADER -->
	{% include 'header.html' %}
<!-- /HEADER -->

<!-- COVER -->
<section class="p-0 jarallax overlay-dark overlay-opacity-6 text-white">

	<img class="jarallax-img" src="{{url_for('static', filename='demo.files/images/unsplash/covers/reza-rostampisheh--hcCm0kIaSg-unsplash.jpg')}}" alt="...">

	<div class="container">

		<div class="d-middle col-12 col-md-6 min-h-75vh text-center-xs">

			<div class="mt-7overflow-hidden mb-4">

				<h1 class="font-weight-light mb-4">
					Создавай <span class="text-warning font-weight-medium">короткие ссылки</span>,
					<span class="font-weight-medium">прямо сейчас</span>!
				</h1>

				<div class="mt-4">

				</div>

			</div>

		</div>

	</div>

</section>
<!-- /COVER -->
